<h1>My TALL Tale</h1><br>

<div class="projects">
	<div class="about-me">
		<%=image_tag ("Keith with sunglasses.jpg"), class: "img-circle img-responsive center-block", width: "300"%><br>

		<div class="col-md-6 col-md-offset-3">
		<p class="text-justify">I am Keith. I am really big. Tall is more of an aspiration or a goal of mine. See, when a large person enters a room, some people look at them and think, “Wow, that’s a big dude!” or “Wow, that’s a tall dude!” I am working on my fitness so that when I enter a room, people think the latter.</p>

		<p class="text-justify">This blog is about me and my journey to a new career as a web developer. I learned Ruby on Rails at Tech Talent South in Atlanta from a great teacher named <%= link_to "TJ Muehleman", "https://twitter.com/tjmule" %>. Some of my personal stories might creep in from time to time, so forgive me if that is a little less technical than you were expecting.</p>

		<p class="text-justify">The idea is for me to post my code examples here as a sort of evolving portfolio for potential employers to see where my skills started, where they have gone, and the direction they are taking. Any potential employers, please feel free to send me emails and make high paying job offers.</p>

		<h4>If you would like to see some more of my work, please visit my <%=link_to "Github Repo", ("http://www.github.com/tallkeith"), class: "btn btn-success"%> and be sure to add me on <%=link_to "LinedIn", ('http://www.linkedin.com/pub/keith-nash/5b/a06/4a6/'), class: "btn btn-primary" %></h4>

		<p class="text-justify">I am tall. Like, really tall. I am between 6'4 and 6'9, depending on which convenience store I am walking out of. I like Bacon, Star Wars, Zombies, and Cake. I will go to great lengths for cake. I attend weddings of people I do not like, because I know there will be cake there.</p>

		<p class="text-justify">TallKeith is the internet moniker I have come up with to make myself more memorble. When you meet me, it is easier for you to recall the tall guy you met. It helps me stand out.</p>
		</div>
	</div>
</div>


<br>

<br>
