<p>Hello! Welcome to my page. Thank you very much for taking the time to visit! Feel free to peruse my various links in the menu bar.</p>

<p>This website was built using HTML, CSS, Javascript, and Ruby on Rails with an eye towards responsive design.</p>

