<p>Hello! Welcome to my page. Thank you very much for taking the time to visit! Feel free to peruse my various links in the menu bar.</p>

<p>This website was built using HTML, CSS, Javascript, and Ruby on Rails with an eye towards responsive design.</p>

  <% if user_signed_in? %>

  <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button" %>

  <% else %>

  <%= link_to "Sign in",new_user_session_path %>

  <% end %>