<script type="text/javascript">
	function loadBlog_posts(){

		$.getJSON("/blog_posts.json", function(data){

		});

<div id= 'blog_posts'>
	<a href="javascript:loadBlog_Posts();">
		THis is where the blog posts go
	</div>