<h1>You didn't know busses could swim, did you?</h1>
<br />

<div class="img-responsive">
<%= link_to image_tag("swimming bus.png"), welcome_projects_path %>
</div>
<br />
<p class="col-md-6 text-justify col-md-offset-3 lead">This bus is a few hundred miles off the coast of the Galapagos Islands. It appears as though this bus has evolved gills and is heading for Ecuador. Someone should probably warn their government... </p>

<%= button_to "Back to Projects", welcome_projects_path, class: "btn btn-primary btn-lg " %>
