

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">I'm Tall. I'm Keith. I'm TallKeith, the Ruby on Rails developer</h1>
        <p class="lead">Thank you for visiting my page! Feel free to poke around and check out my work. This page is a work in progress, so check back often for updates. There are several projects in the works!</p>
        <p class="lead">
          <a href="/welcome/projects" class="btn btn-lg btn-success">Projects</a> |
          <a href="/blogs/about_me" class="btn btn-lg btn-primary">About Me</a>
        </p>
      </div>

     

    </div>

  </div>

</div>

<%yield%>